.header {
  grid-area: h;
  background-color: rgb(19, 19, 19);
}

.header img {
  width: 60px;
}

.loginBlock {
  float: right;
  
  margin: 18px 40px ;
}
.loginText {
  color: white;
  text-decoration: none;
}